m-fidelity-card{
  .description{
    padding: 20px;
    font-size: 1.2em;
  }
  .stamps {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    .stamp {
      width: calc(30% - 10px);
      margin-left: 10px;
      &:nth-child(3n) {
        margin-right: 10px;
      }
      img {
        width: 100%;
      }
    }
    .card-full {
      width: 33%;
      margin-left: 50%;
      img {
        margin-left: -100%;
      }
    }
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  h4, h5, h6, p {
    font-size: 14px;
  }
}
