m-fidelity-card{
  .description{
    padding: 20px;
    font-size: 1.2em;
  }
  .stamps {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:flex-start;
    align-content: space-around;
    .stamp {
      width: 33%;
      background-repeat: no-repeat;
      margin-bottom: 5px;
      text-align: center;
      img {
        width: 100%;
      }
    }
    .card-full {
      width: 33%;
      margin-left: 50%;
      img {
        margin-left: -100%;
      }
    }
  }
}
